<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openmhealth.probe.tester"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ProbeTesterActivity"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.ohmage.probes.ACTION_CONFIGURE" />

                <data android:mimeType="probe/org.openmhealth.probe.tester" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProbeTestCaseActivity"
            android:label="Probe Test Cases" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.ohmage.probes.ACTION_VIEW_ANALYTICS" />

                <data android:mimeType="probe/org.openmhealth.probe.tester" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="org.ohmage.probemanager"
            android:resource="@xml/probe" />
    </application>

</manifest>